rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Solo la colección "alumnos"
    match /alumnos/{docId} {
      allow read: if true;   // permitir leer
      allow write: if false; // nadie escribe (solo tú desde la consola)
    }
  }
}
